<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.foodtruck">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NoticeActivity"
            android:label="@string/nav_notice">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".EventActivity"
            android:label="@string/nav_event">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".NoticeDetailActivity"
            android:label="@string/nav_board_detail">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NoticeActivity" />
        </activity>
        <activity
            android:name=".EventDetailActivity"
            android:label="@string/nav_board_detail">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EventActivity" />
        </activity>
        <activity
            android:name=".ServiceQaInfoDetailActivity"
            android:label="@string/nav_board_detail">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ServiceQaInfoActivity" />
        </activity>
        <activity
            android:name=".ServiceCenterActivity"
            android:label="@string/nav_sc">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/action_settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ServiceQaActivity"
            android:label="문의하기">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ServiceCenterActivity" />
        </activity>
        <activity
            android:name=".ServiceQaInfoActivity"
            android:label="문의내역">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ServiceCenterActivity" />
        </activity>
        <activity android:name=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".RegisterActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".UserDetailActivity"
            android:label="내 정보 수정">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

        </activity>
    </application>

</manifest>